.cycles{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:1.2rem;
}
.cycleDots{
  display: flex;
  gap:1rem;
}

.cycleDot{
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: var(--primary);
  border-radius: 50%;
}
.workTime{
  background: var(--warning);
}
.shortBreakTime{
  background: var(--primary);
}
.longBreakTime{
  background: var(--info);
}